# 데이터 프레임

In [6]:
no <- 1:4
name <- c("Apple","Banna","Peach","Berry")
price <- c(500,400,300,200)

fruit <- data.frame(번호=no, 제품명=name, 원가=price)

In [5]:
data.frame(번호=1:4, 제품명=c("Apple","Banna","Peach","Berry"), 원가=c(500,400,300,200))

  번호 제품명 원가
1 1    Apple  500
2 2    Banna  400
3 3    Peach  300
4 4    Berry  200

In [7]:
str(fruit)

'data.frame':	4 obs. of  3 variables:
 $ 번호  : int  1 2 3 4
 $ 제품명: Factor w/ 4 levels "Apple","Banna",..: 1 2 4 3
 $ 원가  : num  500 400 300 200

In [12]:
fruit1 <- fruit[2:3,-1]

In [15]:
origin <- c("한국","중국", "태국", "한국")
fruit$원산지 <- origin
fruit

  번호 제품명 원가 원산지
1 1    Apple  500  한국
2 2    Banna  400  중국
3 3    Peach  300  태국
4 4    Berry  200  한국

## 외부 File 불러우기

In [34]:
# txt file 불러오기
txtEmp <- read.table("../Data/emp.txt", fileEncoding = "euc-kr", header=T, sep=",")
txtEmp

  사번 이름 급여
1 101  hong 150
2 201  lee  250
3 301  kim  300

In [9]:
sum(txtEmp$급여)

[1] 700

In [32]:
str(txtEmp)

'data.frame':	3 obs. of  3 variables:
 $ 사번: int  101 201 301
 $ 이름: Factor w/ 3 levels "hong","kim","lee": 1 3 2
 $ 급여: int  150 250 300

In [24]:
# csv file 불러오기
csvEmp <- read.csv("../Data/emp2.csv", fileEncoding = "euc-kr", header=F)
csvEmp

  V1  V2     V3
1 101 홍길동 150
2 102 이순신 450
3 103 강감찬 500
4 104 유관순 350
5 105 김유신 400

In [31]:
# 컬럼 이름 변경하기
colnames(csvEmp) <- c("사번","이름","급여")
csvEmp

  사번 이름   급여
1 101  홍길동 150
2 102  이순신 450
3 103  강감찬 500
4 104  유관순 350
5 105  김유신 400

In [27]:
# 컬럼이 몇개?
ncol(csvEmp)

[1] 3

In [28]:
# Row 몇개?
nrow(csvEmp)

[1] 5

In [29]:
length(csvEmp) # 1차원 배열

[1] 3

In [35]:
# dataframe 생성
df <- data.frame(x=1:5, y=seq(2,10,2), z=c("a","b","c","d","e"))
df

  x y  z
1 1  2 a
2 2  4 b
3 3  6 c
4 4  8 d
5 5 10 e

In [38]:
# x, y의 합계
sum(df$x)
sum(df$y)
sum(df[,1:2])
# 함수를 호출하는 함수
apply(df[,1:2],2,sum)
apply(df[,1:2],2,mean)
apply(df[,1:2],1,sum)

[1] 15

[1] 30

[1] 45

 x  y
15 30

x y
3 6

[1]  3  6  9 12 15

In [45]:
# df에 HAP라는 컬럼을 생성해 행방향 합계 구하기
df$HAP <- apply(df[,1:2],1,sum)
df
df$AVG <- apply(df[,1:2],1,mean)
df

  x y  z HAP
1 1  2 a  3
2 2  4 b  6
3 3  6 c  9
4 4  8 d 12
5 5 10 e 15

  x y  z HAP AVG
1 1  2 a  3  1.5
2 2  4 b  6  3.0
3 3  6 c  9  4.5
4 4  8 d 12  6.0
5 5 10 e 15  7.5

In [51]:
# 부분집합
# &로 엮은 모든 것이 해당되는 데이터 출력된다
df1 <- subset(df, x >= 3 & y >= 8)
df1
# 해당 조건의 Data 갯수
nrow(subset(df, x >= 3 & y >= 8))

  x y  z HAP AVG
4 4  8 d 12  6.0
5 5 10 e 15  7.5

[1] 2

In [56]:
# 행과 열의 갯수를 한꺼번에 보기

dim(df)
dim(iris)
dim(iris)[1] # 숫자만 보이면 []를 사용해서 원하는 것만 뽑을 수 있음.

[1] 5 5

[1] 150   5

[1] 150

In [67]:
# 2개 이상의 데이터 프레임 병합하기

height <- data.frame(id=1:3, height=c(180, 175, 160))
weight <- data.frame(ad=c(2,1), weight=c(80, 75))
height;weight

  id height
1 1  180
2 2  175
3 3  160

  ad weight
1 2  80
2 1  75

In [68]:
# merge를 통해서 데이터가 겹치는 것 없이 병합.
merge(height, weight, by.x="id", by.y="ad")

  id height weight
1 1  180    75
2 2  175    80

In [71]:
# 행렬 함수로 행렬 만들기
matrix(1:10)
matrix(1:10, nrow=2)
matrix(1:9, nrow=3, ncol=3)

      [,1]
 [1,]  1
 [2,]  2
 [3,]  3
 [4,]  4
 [5,]  5
 [6,]  6
 [7,]  7
 [8,]  8
 [9,]  9
[10,] 10

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    3    5    7     9
[2,] 2    4    6    8    10

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

# List 
#데이터 프레임의 한줄 정도로 생각하면 됨.
- 성격이 다른 자료구조로 생성이 가능.
- key와 value값으로 구성된다.

In [72]:
member <- list(name="홍길동", address="서울", tel="010-1111-2222", pay=300)
member

$name
[1] "홍길동"

$address
[1] "서울"

$tel
[1] "010-1111-2222"

$pay
[1] 300

In [73]:
member$name

[1] "홍길동"

In [75]:
member$birth <- "1988-08-08"
member

$name
[1] "홍길동"

$address
[1] "서울"

$tel
[1] "010-1111-2222"

$pay
[1] 300

$birth
[1] "1988-08-08"

# 문자열 처리
수집한 데이터의 필요한 문자열을 자르고, 교체하고, 추출하는 작업

## stringr package 사용
- str_length() : 문자열 길이를 알려줌.
- str_c() : 문자열을 연결시켜주는 것.
- str_sub() : 범위에 해당하는 문자열을 생성.
- str_split() : 구분자를 기준으로 문자열을 분리해 부분 생성
- str_replace() : 기존 문자열에서 특정 문자열로 변환
- str_extract() : 문자열에서 특정 문자열 패턴의 첫번째 문자열 추출
- str_extract_all() : " " 모든 문자열 추출
- str_locate() : 문자열에서 특정 문자열 패턴의 첫번쨰 위치 추출
- str_locate_all() : " " 모든 위치 추출

In [87]:
# 패키지 불러오기
library(stringr)

In [81]:
string <- "hongkildong105lee1002you25강감찬2005"

In [83]:
# a~z까지의 영문자가 연속으로 3개 발견된 문자열 추출
str_extract_all(string, "[a-z]{3}")

[[1]]
[1] "hon" "gki" "ldo" "lee" "you"

In [84]:
# a~z까지의 영문자가 연속으로 3개~5개 발견된 문자열 추출
str_extract_all(string, "[a-z]{3,5}")

[[1]]
[1] "hongk" "ildon" "lee"   "you"

In [91]:
# a~z까지의 영문자가 연속으로 3개 이상 발견된 문자열 추출
str_extract_all(string, "[a-z]{3,}")
# list임. 그래서 데이터가 1개로 []로 추출은 1만 가능(묶여있는거임.)
class(str_extract_all(string, "[a-z]{3,}"))
unlist(str_extract_all(string, "[a-z]{3,}"))[1] # unlist해서 list를 풀으면 []을 사용해서 추출 가능

[[1]]
[1] "hongkildong" "lee"         "you"

[1] "list"

[1] "hongkildong"

In [94]:
# 숫자만 출력하기
str_extract_all(string, "[0-9]{1,}")

[[1]]
[1] "105"  "1002" "25"   "2005"

In [98]:
# 한글만 추출하기
str_extract_all(string, "[가-힇]{1,}")

[[1]]
[1] "강감찬"

In [100]:
# 영문자를 제외한 문자 출력하기
str_extract_all(string, "[^a-z]{1,}")

[[1]]
[1] "105"          "1002"         "25강감찬2005"

In [101]:
# 문자열 길이 구하기
str_length(string)

[1] 33

In [102]:
# 문자열 위치 구하기
str_locate(string,"강감찬")
#특정 단어의 앞까지만 사용을 원할 때 위치를 구한다.

     start end
[1,] 27    29

In [106]:
str_sub(string,1,26)
str_sub(string,1,str_locate(string,"강감찬")[1]-1)

[1] "hongkildong105lee1002you25"

[1] "hongkildong105lee1002you25"

In [108]:
# 대문자, 소문자 변경하기
# Apple =|= apple

str_to_upper(string)
str_to_lower(string)

[1] "HONGKILDONG105LEE1002YOU25강감찬2005"

[1] "hongkildong105lee1002you25강감찬2005"

In [122]:
# 문자열 교체하기
string <- str_replace(string, "hongkildong105","홍길동35,")
string <- str_replace(string, "lee1002","이순신45,")
string <- str_replace(string, "you25","유관순25,")
string <- str_replace(string, "2005","20")
string

[1] "홍길동35,이순신45,유관순25,강감찬20"

In [124]:
# 문자열 분리하기
unlist(str_split(string, ","))

[1] "홍길동35" "이순신45" "유관순25" "강감찬20"

In [137]:
# 천단위 쉼표가 들어간 문자열을 숫자로 변경하기
price <- c("123,456,789","234,567")
price <- str_replace_all(price, ",","")
as.numeric(price)
#as.numeric(str_replace_all(price, ",",""))
as.numeric(str_remove_all(price,","))

[1] 123456789    234567

[1] 123456789    234567