# Vector

In [3]:
# c(): combine
v1 <- c(1, 2, 3, 4)
v1

[1] 1 2 3 4

In [5]:
# : 을 이용
v2 <- 10:20
v2

 [1] 10 11 12 13 14 15 16 17 18 19 20

In [7]:
# seq()

v3 <- seq(10, 100, 10)
v3

 [1]  10  20  30  40  50  60  70  80  90 100

In [9]:
# rep()

v4 <- rep(1:5, 2)
v4

 [1] 1 2 3 4 5 1 2 3 4 5

In [14]:
# iris 중 20, 40, 60, ... 검색
irisTemp <- iris[seq(20, 150, 20),]

In [18]:
# 행과 열을 뒤집기

t(irisTemp)

             20     40     60         80         100        120       140
Sepal.Length 5.1    5.1    5.2        5.7        5.7        6.0       6.9
Sepal.Width  3.8    3.4    2.7        2.6        2.8        2.2       3.1
Petal.Length 1.5    1.5    3.9        3.5        4.1        5.0       5.4
Petal.Width  0.3    0.2    1.4        1.0        1.3        1.5       2.1
Species      setosa setosa versicolor versicolor versicolor virginica virginica

In [34]:
# iris의 전체 Data의 Sepal.Length의 평균과 행번호를 10으로 간격시킨 Data의 평균을 구하시오

mean(iris$Sepal.Length)
mean(iris$Sepal.Length[seq(10, length(iris$Sepal.Length), 10)])
seq(10, length(iris$Sepal.Length), 10)
mean(iris$Sepal.Length[seq(10, 150, 10)])

[1] 5.843333

[1] 5.713333

 [1]  10  20  30  40  50  60  70  80  90 100 110 120 130 140 150

[1] 5.713333

In [37]:
# iris Data 중 행은 1~10, 열은 Sepal.Length와 Sepla.Width만 출력하기
iris[1:10,1:2]

   Sepal.Length Sepal.Width
1  5.1          3.5
2  4.9          3.0
3  4.7          3.2
4  4.6          3.1
5  5.0          3.6
6  5.4          3.9
7  4.6          3.4
8  5.0          3.4
9  4.4          2.9
10 4.9          3.1

In [38]:
# 기본 통계량 출력
summary(iris)

  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.300   Min.   :2.000   Min.   :1.000   Min.   :0.100
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.600   1st Qu.:0.300
 Median :5.800   Median :3.000   Median :4.350   Median :1.300
 Mean   :5.843   Mean   :3.057   Mean   :3.758   Mean   :1.199
 3rd Qu.:6.400   3rd Qu.:3.300   3rd Qu.:5.100   3rd Qu.:1.800
 Max.   :7.900   Max.   :4.400   Max.   :6.900   Max.   :2.500
       Species
 setosa    :50
 versicolor:50
 virginica :50

In [39]:
str(iris)

'data.frame':	150 obs. of  5 variables:
 $ Sepal.Length: num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 $ Sepal.Width : num  3.5 3 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 ...
 $ Petal.Length: num  1.4 1.4 1.3 1.5 1.4 1.7 1.4 1.5 1.4 1.5 ...
 $ Petal.Width : num  0.2 0.2 0.2 0.2 0.2 0.4 0.3 0.2 0.2 0.1 ...
 $ Species     : Factor w/ 3 levels "setosa","versicolor",..: 1 1 1 1 1 1 1 1 1 1 ...

In [42]:
# factor Type인 Species에서 문자와 숫자로 각각 출력하기.

as.character(iris$Species)
as.numeric(iris$Species)

  [1] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
  [6] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [11] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [16] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [21] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [26] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [31] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [36] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [41] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [46] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [51] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [56] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [61] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [66] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [71] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [76] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [81] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [86] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [91] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [96] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
[101] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[106] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[111] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[116] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[121] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[126] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[131] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[136] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[141] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[146] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"

  [1] 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 [38] 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 [75] 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 3 3 3 3 3 3 3 3 3 3 3
[112] 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3
[149] 3 3

In [44]:
# 벡터 계산
x <- c(3, 6, 9, 12, 15)
# 벡터를 1씩 증가시키기
x + 1

[1]  4  7 10 13 16

In [45]:
x + c(1,2,3)

Warning message in x + c(1, 2, 3):
“두 객체의 길이가 서로 배수관계에 있지 않습니다”

[1]  4  8 12 13 17

In [46]:
x + c(2,4,6,8,10)

[1]  5 10 15 20 25

In [48]:
# 벡터 합치기 - 1
x <- c(3,4,5,6,7)
y <- c(1,2,3,4,5)
z <- append(x, y)
z

 [1] 3 4 5 6 7 1 2 3 4 5

In [50]:
x <- c(3,4,5,6,7)
y <- c(1,2,3,4,5)

z <- c(x,y)
z

 [1] 3 4 5 6 7 1 2 3 4 5

In [52]:
x <- c(3,4,5,6,7)
y <- c(1,2,3,4,5)
z <- c(5,6,7,8,9)

aa <- append(append(x,y), z)

In [63]:
# iris의 Sepal.Length의 중복되지 않은 갯수의 percent구하기

unique(iris$Sepal.Length)
length(unique(iris$Sepal.Length)) / length(iris$Sepal.Length) * 100

 [1] 5.1 4.9 4.7 4.6 5.0 5.4 4.4 4.8 4.3 5.8 5.7 5.2 5.5 4.5 5.3 7.0 6.4 6.9 6.5
[20] 6.3 6.6 5.9 6.0 6.1 5.6 6.7 6.2 6.8 7.1 7.6 7.3 7.2 7.7 7.4 7.9

[1] 23.33333

# 문자열 관련 함수

In [68]:
x <- c("a","b","c","d","e")
x[1:2]
paste("a", "b")
paste(x[1], x[2])
paste(x[1:2])

[1] "a" "b"

[1] "a b"

[1] "a b"

[1] "a" "b"

In [70]:
print(head(iris))

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1          5.1         3.5          1.4         0.2  setosa
2          4.9         3.0          1.4         0.2  setosa
3          4.7         3.2          1.3         0.2  setosa
4          4.6         3.1          1.5         0.2  setosa
5          5.0         3.6          1.4         0.2  setosa
6          5.4         3.9          1.7         0.4  setosa

In [71]:
# Hello와 World! 문자열 합치기
paste("Hello","world!")

[1] "Hello world!"

In [73]:
# iris의 1, 51, 101번의 Species만 한꺼번에 출력하기
paste(iris$Species[1], ":", iris$Species[51], ":", iris$Species[101])

[1] "setosa : versicolor : virginica"

In [78]:
paste(iris$Species[1], iris$Species[51], iris$Species[101], sep = ":")
paste("010","1111","2222", sep = "-")

[1] "setosa:versicolor:virginica"

[1] "010-1111-2222"

In [83]:
cat("Hello","\n","World!\n")
cat("Hello", "\t", "World!")

Hello
 World!
Hello 	 World!

In [86]:
cat("국어\t\t","영어\t\t","수학\n")
cat("90\t\t","80\t\t","70\n")
cat(paste("80\t\t","70\t\t","60\n"))

국어		 영어		 수학
90		 80		 70
80		 70		 60

In [88]:
# 문자열 추출하기
str01 <- "abcdefghijklmn"
substring(str01, 2, 5)
str02 <- "가나다라마바사"
substring(str02, 2, 5)

[1] "bcde"

[1] "나다라마"

----
# 행렬(Matrix)
- 2차원의 자료를 저장하는 자료형
- 행렬은 데이터 형태가 모두 일치되어야 구성.

In [108]:
# vector로 행렬 만들기

vec1 <- c(1,2,3)
vec2 <- c(4,5,6)
vec3 <- c(7,8,9)

In [109]:
# rbind : row bind
mat1 <- rbind(vec1, vec2, vec3)
mat1

     [,1] [,2] [,3]
vec1 1    2    3
vec2 4    5    6
vec3 7    8    9

In [110]:
# cbind : column bind
mat2 <- cbind(vec1, vec2, vec3)
mat2

     vec1 vec2 vec3
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

In [111]:
# iris의 1에서 5번 데이터만 추출해 irisHead라는 변수에 넣기
irisHead <- head(iris, 5)
irisHead

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa

In [112]:
# irisHead에 새로운 데이터 (1,1,1,1,"setosa") 추가하기
b <- c(1,1,1,1,"setosa")
irisHead <- rbind(irisHead, b)  # ribind(irisHead,c(1,1,1,1,"setosa")) 도 가능함.
irisHead

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3           1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5            3.6         1.4          0.2         setosa
6 1            1           1            1           setosa

In [119]:
# irisHead의 새로운 컬럼 abc에 데이터 2,2,2,2,2,2 넣어 irisHead 완성하기
abc <- rep(2,6)
irisHead <- cbind(irisHead,abc)
cbind(irisHead, def=rep(3,6))

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species abc def
1 5.1          3.5         1.4          0.2         setosa  2   3
2 4.9          3           1.4          0.2         setosa  2   3
3 4.7          3.2         1.3          0.2         setosa  2   3
4 4.6          3.1         1.5          0.2         setosa  2   3
5 5            3.6         1.4          0.2         setosa  2   3
6 1            1           1            1           setosa  2   3

In [121]:
str(irisHead)

'data.frame':	6 obs. of  6 variables:
 $ Sepal.Length: chr  "5.1" "4.9" "4.7" "4.6" ...
 $ Sepal.Width : chr  "3.5" "3" "3.2" "3.1" ...
 $ Petal.Length: chr  "1.4" "1.4" "1.3" "1.5" ...
 $ Petal.Width : chr  "0.2" "0.2" "0.2" "0.2" ...
 $ Species     : Factor w/ 3 levels "setosa","versicolor",..: 1 1 1 1 1 1
 $ abc         : num  2 2 2 2 2 2

In [125]:
# iris에서 sepal.Length와 Sepal.Width만 추출해 irisM이라는 데이터 프레임 만들기
SL <- iris$Sepal.Length
SW <- iris$Sepal.Width
irisM <- cbind(SL, SW)
head(irisM)
class(irisM)
# Dataframe으로 변환
irisDF <- as.data.frame(irisM)
class(irisDF)

     SL  SW
[1,] 5.1 3.5
[2,] 4.9 3.0
[3,] 4.7 3.2
[4,] 4.6 3.1
[5,] 5.0 3.6
[6,] 5.4 3.9

[1] "matrix"

[1] "data.frame"

In [129]:
irisDF$abc <- rep(10, 150)
head(irisDF)

  SL  SW  abc
1 5.1 3.5 10
2 4.9 3.0 10
3 4.7 3.2 10
4 4.6 3.1 10
5 5.0 3.6 10
6 5.4 3.9 10

In [135]:
# mat1에 컬럼 이름 추가
mat1
colnames(mat1) <-c("A","B","C")
mat1
class(mat1)
# mat1을 데이터프레임으로 변경하기
mat1D <- as.data.frame(mat1)
class(mat1D)

mat1M <- as.matrix(mat1D)

     A B C
vec1 1 2 3
vec2 4 5 6
vec3 7 8 9

     A B C
vec1 1 2 3
vec2 4 5 6
vec3 7 8 9

[1] "matrix"

[1] "data.frame"

In [137]:
# mat2에 rownames 추가
mat2
rownames(mat2) <- 1:3
print(mat2)

# dataframe으로 변경
mat2D <- as.data.frame(mat2)

  vec1 vec2 vec3
1 1    4    7
2 2    5    8
3 3    6    9

  vec1 vec2 vec3
1    1    4    7
2    2    5    8
3    3    6    9

# 데이터프레임
: 다양한 자료형으로 구성된 2차원 형태의 데이터 구조

In [138]:
# 벡터로 데이터프레임 만들기
no <- 1:4
name <- c("Apple", "Banana", "Peach", "Berry")
price <- c(500, 400, 300, 200)
qty <- c(5, 4, 3, 2)

In [141]:
fruit <- data.frame(번호=no,상품명=name,금액=price,재고량=qty)
fruit

  번호 상품명 금액 재고량
1 1    Apple  500  5
2 2    Banana 400  4
3 3    Peach  300  3
4 4    Berry  200  2

In [142]:
# data frame확인
is.data.frame(fruit)

[1] TRUE

In [143]:
# 자료 구조
str(fruit)

'data.frame':	4 obs. of  4 variables:
 $ 번호  : int  1 2 3 4
 $ 상품명: Factor w/ 4 levels "Apple","Banana",..: 1 2 4 3
 $ 금액  : num  500 400 300 200
 $ 재고량: num  5 4 3 2

In [148]:
# fruit에서 상품명과 재고량만 보기
fruit[,c(2,4)]
fruit[,c("상품명", "재고량")]

  상품명 재고량
1 Apple  5
2 Banana 4
3 Peach  3
4 Berry  2

  상품명 재고량
1 Apple  5
2 Banana 4
3 Peach  3
4 Berry  2

In [151]:
# fruit에서 번호를 제외한 모든 칼럼 보기
fruit[,c(2:4)]
fruit[,-1]

  상품명 금액 재고량
1 Apple  500  5
2 Banana 400  4
3 Peach  300  3
4 Berry  200  2

  상품명 금액 재고량
1 Apple  500  5
2 Banana 400  4
3 Peach  300  3
4 Berry  200  2

In [176]:
# fruit에서 2,4번 행을 제외한 상품명, 금액, 재고량만 출력
fruit[-c(2,4),-1]

  상품명 금액 재고량 재고금액
1 Apple  500  5      2500
3 Peach  300  3       900

In [181]:
# 금액 * 재고량 계산 후 재고금액이라는 컬럼 생성해 fruit에 붙이기
재고금액 <- fruit$금액*fruit$재고량
fruit <- cbind(fruit,재고금액)
# fruit$재고금액 <- fruit$금액*fruit$재고량

In [187]:
fruit

  번호 상품명 금액 재고량 재고금액
1 1    Apple  500  5      2500
2 2    Banana 400  4      1600
3 3    Peach  300  3       900
4 4    Berry  200  2       400