In [5]:
# for는 {}안에서 반복하면서 실행되는 것. if는 판단이 필요할 때 사용.(둘은 거의 함께 사용)
sumEven <- 0

for(i in 1:100){
    #print(i)
    if(i %% 2==0){
        #print(i)
        sumEven <- sumEven + i
    }
}
print(sumEven)

[1] 2550

In [7]:
# 구구단 2단 출력
for(i in 1:9){
    cat("2X",i,"=",2*i,"\n")
}

2X 1 = 2
2X 2 = 4
2X 3 = 6
2X 4 = 8
2X 5 = 10
2X 6 = 12
2X 7 = 14
2X 8 = 16
2X 9 = 18

In [19]:
# 사용자로부터 Data 받아오기
# readline 사용할 때 빈 칸이 활성화 되는데 그 때 꼭! 데이터 입력해야 함.
# 만약 *모양이 나오면 저장 후 파일 선택 + 셧다운시켜준 후에 다시 활성화하기!
dan <- as.integer(readline("단을 입력하세요! :"))

for(i in 1:9){
    cat(dan, "X", i, "=", dan*i, "\n")
}

단을 입력하세요! :8
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

In [18]:
# 구구단 함수 만들기

gugu <- function(x){
    for(i in 1:9){
    cat(x, "X", i, "=", x*i, "\n")
    }
}

gugu(5)

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

In [20]:
# 구구단 함수 만들기

gugu <- function(x,y){
    for(i in 1:y){
    cat(x, "X", i, "=", x*i, "\n")
    }
}

gugu(2,5)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10

In [21]:
head(iris)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [23]:
tail(iris)

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
145 6.7          3.3         5.7          2.5         virginica
146 6.7          3.0         5.2          2.3         virginica
147 6.3          2.5         5.0          1.9         virginica
148 6.5          3.0         5.2          2.0         virginica
149 6.2          3.4         5.4          2.3         virginica
150 5.9          3.0         5.1          1.8         virginica

In [22]:
str(iris)

'data.frame':	150 obs. of  5 variables:
 $ Sepal.Length: num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 $ Sepal.Width : num  3.5 3 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 ...
 $ Petal.Length: num  1.4 1.4 1.3 1.5 1.4 1.7 1.4 1.5 1.4 1.5 ...
 $ Petal.Width : num  0.2 0.2 0.2 0.2 0.2 0.4 0.3 0.2 0.2 0.1 ...
 $ Species     : Factor w/ 3 levels "setosa","versicolor",..: 1 1 1 1 1 1 1 1 1 1 ...

In [25]:
testF <- function(x){
    print(head(x))
    print(tail(x))
    print(str(x))
}

testF(iris)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1          5.1         3.5          1.4         0.2  setosa
2          4.9         3.0          1.4         0.2  setosa
3          4.7         3.2          1.3         0.2  setosa
4          4.6         3.1          1.5         0.2  setosa
5          5.0         3.6          1.4         0.2  setosa
6          5.4         3.9          1.7         0.4  setosa
    Sepal.Length Sepal.Width Petal.Length Petal.Width   Species
145          6.7         3.3          5.7         2.5 virginica
146          6.7         3.0          5.2         2.3 virginica
147          6.3         2.5          5.0         1.9 virginica
148          6.5         3.0          5.2         2.0 virginica
149          6.2         3.4          5.4         2.3 virginica
150          5.9         3.0          5.1         1.8 virginica
'data.frame':	150 obs. of  5 variables:
 $ Sepal.Length: num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 $ Sepal.Width : num  3.5 3 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 ...
 $ Petal.Length: num  1.4 1.4 1.3 1.5 1.4 1.7 1.4 1.5 1.4 1.5 ...
 $ Petal.Width : num  0.2 0.2 0.2 0.2 0.2 0.4 0.3 0.2 0.2 0.1 ...
 $ Species     : Factor w/ 3 levels "setosa","versicolor",..: 1 1 1 1 1 1 1 1 1 1 ...
NULL

In [28]:
# 구구단 전체 출력하기

for(dan in 2:9){
    for(i in 1:9){
        cat(dan, "X", i, "=", dan*i, "\n")
    }
    cat("-------------------------\n")
}

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
-------------------------
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
-------------------------
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
-------------------------
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
-------------------------
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
-------------------------
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
-------------------------
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
-------------------------
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
-------------------------

In [29]:
# 구구단 중 짝수단만 출력

for(dan in 2:9){
    if(dan %% 2 == 0){
        for(i in 1:9){
            cat(dan, "X", i, "=", dan*i, "\n")
        }
    cat("-------------------------\n")
    }
}

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
-------------------------
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
-------------------------
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
-------------------------
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
-------------------------

In [32]:
# 구구단에서 짝수단과 짝수가 곱해지는 수만 출력

for(dan in 2:9){
    if(dan %% 2 == 0){
        for(i in 1:9){
            if(i %% 2==0){
                cat(dan, "X", i, "=", dan*i, "\n")
            }
        }
    cat("-------------------------\n")
    }
}

2 X 2 = 4
2 X 4 = 8
2 X 6 = 12
2 X 8 = 16
-------------------------
4 X 2 = 8
4 X 4 = 16
4 X 6 = 24
4 X 8 = 32
-------------------------
6 X 2 = 12
6 X 4 = 24
6 X 6 = 36
6 X 8 = 48
-------------------------
8 X 2 = 16
8 X 4 = 32
8 X 6 = 48
8 X 8 = 64
-------------------------

In [63]:
# iris의 Sepal.Length 중 짝수의 합계를 구하시오.

# 소숫점 부분은 2로 나눌 때 나머지가 나오는거로 읽힌다.
sum1 <- 0
for(i in iris$Sepal.Length){
    if(i %% 2==0){
        sum1 <- sum1 + i
    }
}
print(sum1)

cat("------------------------------\n")

# i에 10을 곱해 소숫점을 삭제시켜주고, 2로 나누게 하여 짝수 구별 가능하도록 하기.
sum1 <- 0
for(i in iris$Sepal.Length){
    if((i*10) %% 2==0){
        sum1 <- sum1 + i
    }
}
print(sum1)

[1] 36
------------------------------
[1] 415.8

In [70]:
sum1 <- 0
for(i in iris$Sepal.Length){
    if(i %% 2==1){
        
    }else if((i*10) %% 2==0){
        sum1 <- sum1 + i
    }
}
print(sum1)

## 여기 수정 필요함**

[1] 358.8

In [69]:
# 2개의 백터 자료를 출력하기

score <- c(85,95,89)
name <- c("유비","관우","장비")
# cat(name,":",score,"\n") 은 안된다.
cat(paste("\t",name,":",score,"\n"))
# cat은 그냥 바로 출력이라 불가 paste에서 cat으로 정리

j <- 1
for(i in score){
    cat(name[j],":",i,"\n")
    j<- j+1
}

	 유비 : 85
 	 관우 : 95
 	 장비 : 89
유비 : 85
관우 : 95
장비 : 89

# While

In [72]:
#while은 ~하는 동안에 {}안에 있는 것을 반복하는 것.
# ADsP 시험에 for보다 while이 더 많이 나옴.

i <- 0
while(i<10){
    i<-i+1
    print(i)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

# repeat

In [74]:
i <- 0
repeat{
    i<-i+1
    if(i>10){
        break
    }
    print(i)
}

# repeat함수는 괄호가 유일하게 없는 함수다.

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

# 함수
: 함수는 코드의 집합이다.

In [77]:
# 주요 내장 함수
vec <- 10:20

min(vec) # 최소값
max(vec) # 최대값
mean(vec) # 평균
median(vec) # 중앙값
sum(vec) # 합계
sd(vec) # 표준편차
summary(vec) # 기본 통계량
table(vec) #빈도수
range(vec) #범위값

[1] 10

[1] 20

[1] 15

[1] 15

[1] 165

[1] 3.316625

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
   10.0    12.5    15.0    15.0    17.5    20.0

vec
10 11 12 13 14 15 16 17 18 19 20
 1  1  1  1  1  1  1  1  1  1  1

[1] 10 20

In [79]:
range(vec)[1]==min(vec)

[1] TRUE

# 사용자 정의 함수

In [83]:
# 인수가 없는 함수
test1 <- function(){
    x <- 10
    y <- 20
    #return(x*y)
    print(x*y)
}
# return은 날 언급한 함수에게 값을 주는 것.
# print도 가능하나 깔끔히 작성을 원할 경우 return을 사용.

In [84]:
a <- test1() # 10*20의 결과 출력 함수
a

[1] 200

[1] 200

In [85]:
# 인수가 있는 함수
test2 <- function(x,y){
    return(x*y)
}

In [87]:
test2(10,10)

[1] 100

# 기술 통계량을 계산하는 함수

In [92]:
test <- read.csv("../Data/test.csv")
head(test)
tail(test)

  A B C D E
1 2 4 4 2 2
2 1 2 2 2 2
3 2 3 4 3 3
4 3 5 5 3 3
5 3 2 4 4 4
6 4 3 3 4 2

    A B C D E
397 2 3 5 2 4
398 4 3 3 2 4
399 2 4 4 2 3
400 2 2 5 2 4
401 2 3 4 2 4
402 2 2 4 2 4

In [91]:
str(test)

'data.frame':	402 obs. of  5 variables:
 $ A: int  2 1 2 3 3 4 3 4 4 4 ...
 $ B: int  4 2 3 5 2 3 4 2 4 2 ...
 $ C: int  4 2 4 5 4 3 4 4 5 4 ...
 $ D: int  2 2 3 3 4 4 2 4 3 2 ...
 $ E: int  2 2 3 3 4 2 2 4 4 3 ...

In [95]:
# 기본 통계량 보기
summary(test)

       A               B               C               D              E
 Min.   :1.000   Min.   :1.000   Min.   :1.000   Min.   :1.00   Min.   :1.000
 1st Qu.:2.000   1st Qu.:2.000   1st Qu.:3.000   1st Qu.:2.00   1st Qu.:3.000
 Median :3.000   Median :3.000   Median :4.000   Median :2.00   Median :4.000
 Mean   :2.734   Mean   :2.908   Mean   :3.622   Mean   :2.51   Mean   :3.386
 3rd Qu.:3.000   3rd Qu.:4.000   3rd Qu.:4.000   3rd Qu.:3.00   3rd Qu.:4.000
 Max.   :5.000   Max.   :5.000   Max.   :5.000   Max.   :4.00   Max.   :5.000

In [98]:
# A컬럼의 최대값
max(test$A)
# A컬럼의 최소값
min(test$A)
# A컬럼의 빈도수
table(test$A)

[1] 5

[1] 1

  1   2   3   4   5
 30 133 156  80   3

In [112]:
# 각 컬럼의 빈도수를 for문을 이용해 구하기

length(test) # length는 2차원 함수이니까 ncol사용!!
ncol(test)

for(i in 1:ncol(test)){
    cat(i,"번째 컬럼의 빈도분석 결과")
    print(table(test[,i]))
    cat("-------------------------\n")
}

[1] 5

[1] 5

1 번째 컬럼의 빈도분석 결과
  1   2   3   4   5
 30 133 156  80   3
-------------------------
2 번째 컬럼의 빈도분석 결과
  1   2   3   4   5
 16 150  98 131   7
-------------------------
3 번째 컬럼의 빈도분석 결과
  1   2   3   4   5
  3  74  72 176  77
-------------------------
4 번째 컬럼의 빈도분석 결과
  1   2   3   4
 30 178 153  41
-------------------------
5 번째 컬럼의 빈도분석 결과
  1   2   3   4   5
  8  81 107 160  46
-------------------------

In [137]:
# 각 컬럼의 빈도수의 최대값과 최소값 구하기

for(i in 1:ncol(test)){
    cat(i, "번째 컬럼의 빈도수의 최대값과 최소값\n")
   f<- table(test[,i])
    cat("최대값:",(max(f)),"최소값:",min(f),"\n")
    cat("-------------------------------\n")
}

1 번째 컬럼의 빈도수의 최대값과 최소값
최대값: 156 최소값: 3
-------------------------------
2 번째 컬럼의 빈도수의 최대값과 최소값
최대값: 150 최소값: 7
-------------------------------
3 번째 컬럼의 빈도수의 최대값과 최소값
최대값: 176 최소값: 3
-------------------------------
4 번째 컬럼의 빈도수의 최대값과 최소값
최대값: 178 최소값: 30
-------------------------------
5 번째 컬럼의 빈도수의 최대값과 최소값
최대값: 160 최소값: 8
-------------------------------

In [140]:
# 함수 만들기
tableMaxMin <- function(x){
    for(i in 1:ncol(test)){
        cat(i,"번째 컬럼의 빈도분석 결과")
        print(table(test[,i]))
        cat("-------------------------------\n")
    }
    for(i in 1:ncol(test)){
        cat(i, "번째 컬럼의 빈도수의 최대값과 최소값\n")
        f<- table(test[,i])    
        cat("최대값:",(max(f)),"최소값:",min(f),"\n")
        cat("-------------------------------\n")
    }
}

In [141]:
tableMaxMin(test)

1 번째 컬럼의 빈도분석 결과
  1   2   3   4   5
 30 133 156  80   3
-------------------------------
2 번째 컬럼의 빈도분석 결과
  1   2   3   4   5
 16 150  98 131   7
-------------------------------
3 번째 컬럼의 빈도분석 결과
  1   2   3   4   5
  3  74  72 176  77
-------------------------------
4 번째 컬럼의 빈도분석 결과
  1   2   3   4
 30 178 153  41
-------------------------------
5 번째 컬럼의 빈도분석 결과
  1   2   3   4   5
  8  81 107 160  46
-------------------------------
1 번째 컬럼의 빈도수의 최대값과 최소값
최대값: 156 최소값: 3
-------------------------------
2 번째 컬럼의 빈도수의 최대값과 최소값
최대값: 150 최소값: 7
-------------------------------
3 번째 컬럼의 빈도수의 최대값과 최소값
최대값: 176 최소값: 3
-------------------------------
4 번째 컬럼의 빈도수의 최대값과 최소값
최대값: 178 최소값: 30
-------------------------------
5 번째 컬럼의 빈도수의 최대값과 최소값
최대값: 160 최소값: 8
-------------------------------

In [142]:
tableMaxMin <- function(x){
    for(i in 1:ncol(test)){
        cat(i,"번째 컬럼의 빈도분석 결과")
        print(table(test[,i]))
        cat("-------------------------------\n")
        cat(i, "번째 컬럼의 빈도수의 최대값과 최소값\n")
        f<- table(test[,i])    
        cat("최대값:",(max(f)),"최소값:",min(f),"\n")
        cat("===============================\n")
    }
}

In [145]:
tableMaxMin(test)

1 번째 컬럼의 빈도분석 결과
  1   2   3   4   5
 30 133 156  80   3
-------------------------------
1 번째 컬럼의 빈도수의 최대값과 최소값
최대값: 156 최소값: 3
===============================
2 번째 컬럼의 빈도분석 결과
  1   2   3   4   5
 16 150  98 131   7
-------------------------------
2 번째 컬럼의 빈도수의 최대값과 최소값
최대값: 150 최소값: 7
===============================
3 번째 컬럼의 빈도분석 결과
  1   2   3   4   5
  3  74  72 176  77
-------------------------------
3 번째 컬럼의 빈도수의 최대값과 최소값
최대값: 176 최소값: 3
===============================
4 번째 컬럼의 빈도분석 결과
  1   2   3   4
 30 178 153  41
-------------------------------
4 번째 컬럼의 빈도수의 최대값과 최소값
최대값: 178 최소값: 30
===============================
5 번째 컬럼의 빈도분석 결과
  1   2   3   4   5
  8  81 107 160  46
-------------------------------
5 번째 컬럼의 빈도수의 최대값과 최소값
최대값: 160 최소값: 8
===============================

In [146]:
# 분산과 표준편차를 구하는 함수

var(iris$Sepal.Length)
sd(iris$Sepal.Length)

[1] 0.6856935

[1] 0.8280661

In [156]:
var_sd <- function(x){
    cat(" 분산:",var(x),"\n","표준편차:",sd(x),"\n")
}

In [157]:
var_sd(iris$Sepal.Length)

 분산: 0.6856935
 표준편차: 0.8280661