# SVM(Support Vector Machine)

- 두 범주 사이의 거리(margin)를 최대화 하는 경계면을 찾는 기법

In [1]:
#install.packages("e1071")

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

In [2]:
library(e1071)

In [3]:
# 학습용과 검증용 분류 
set.seed(1234)
library(caret)

Loading required package: lattice
Loading required package: ggplot2
Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang

In [7]:
# 데이터 나눠주는 함수 (어디에서, 몇 %, 리스트 타입 코드 벡터로 나오게 F)
samp <- createDataPartition(iris$Species, p=0.7, list=F)
samp

      Resample1
 [1,]  2
 [2,]  3
 [3,]  5
 [4,]  6
 [5,]  7
 [6,]  8
 [7,]  9
 [8,] 14
 [9,] 15
[10,] 16
[11,] 19
[12,] 22
[13,] 23
[14,] 24
[15,] 25
[16,] 26
[17,] 27
[18,] 28
[19,] 29
[20,] 30
[21,] 32
[22,] 34
[23,] 36
[24,] 37
[25,] 38
[26,] 39
[27,] 40
[28,] 42
[29,] 43
[30,] 45
[31,] ...
[32,] 110
[33,] 111
[34,] 112
[35,] 113
[36,] 115
[37,] 117
[38,] 118
[39,] 119
[40,] 120
[41,] 121
[42,] 122
[43,] 124
[44,] 126
[45,] 127
[46,] 128
[47,] 129
[48,] 130
[49,] 132
[50,] 133
[51,] 134
[52,] 135
[53,] 137
[54,] 139
[55,] 141
[56,] 142
[57,] 143
[58,] 144
[59,] 148
[60,] 149
[61,] 150

In [5]:
# 학습용 
data.tr <- iris[samp,]
# 검증용 
data.test <- iris[-samp,]

In [6]:
dim(data.tr) #105개 row, 5개 column
dim(data.test)

[1] 105   5

[1] 45  5

In [11]:
# 학습 시키기 (모델 만들기)
model.svm <- svm(Species ~ ., data=data.tr)

In [12]:
# 문제와 정답 만들기 
x <- subset(data.test, select = -Species) #species만 제외
y <- data.test$Species #species만 포함

In [13]:
# 검증하기 
pred <- predict(model.svm, x)

In [15]:
# 예측률 및 오분류표 
mean(pred == y)
table(pred, y) # virginica에서 1개, versicolor에서 2개 틀림

[1] 0.9333333

            y
pred         setosa versicolor virginica
  setosa         15          0         0
  versicolor      0         13         1
  virginica       0          2        14

# 다항 로지스틱

In [16]:
# 다항 로지스틱 
library(nnet)

In [17]:
# 학습시키기 (학습용 검증용은 이미 만들어졌으니)
model.multi <- multinom(Species ~ ., data = data.tr)

# weights:  18 (10 variable)
initial  value 115.354290
iter  10 value 10.451001
iter  20 value 0.395906
iter  30 value 0.063643
iter  40 value 0.032814
iter  50 value 0.023376
iter  60 value 0.021200
iter  70 value 0.019040
iter  80 value 0.017101
iter  90 value 0.012218
iter 100 value 0.011383
final  value 0.011383
stopped after 100 iterations

In [18]:
# 검증하기 
pred <- predict(model.multi, data.test)

In [19]:
# 예측력과 오분류표 
mean(pred == y)
table(pred, y)

[1] 0.9333333

            y
pred         setosa versicolor virginica
  setosa         15          0         0
  versicolor      0         13         1
  virginica       0          2        14

# Mushroom

- 8124종류 버섯의 특징과 독의 유무를 정리해놓은 데이터셋 
- 버섯 모양의 특징을 기반으로 독의 유무를 판단할 수 있음 

한 줄 (row)이 버섯 한 종류     
1번째 컬럼 : 독의 유무(p(독버섯), e(식용버섯))    
2번째 컬럼 : 버섯의 머리 모양 (b(벨), c(원뿔), x(볼록), f(평평), k(혹), s(오목))    
4번째 컬럼 : 버섯의 머리 색깔 (n(갈색), b(황갈색), c(연한 갈색), g(회색))     
자세한 내용은 사이트 참조 (https://archive.ics.uci.edu/ml/datasets/mushroom)

In [44]:
# 랜덤포레스트를 이용한 버섯 분류 
#데이터가 하나씩 올라왔기 때문에 header가 없는 데이터라고 알려줌. r에서 header 만들어줌. 
mr <- read.csv("../Data/mushroom.csv", header = F) 
head(mr)

  V1 V2 V3 V4 V5 V6 V7 V8 V9 V10 ... V14 V15 V16 V17 V18 V19 V20 V21 V22 V23
1 p  x  s  n  t  p  f  c  n  k   ... s   w   w   p   w   o   p   k   s   u
2 e  x  s  y  t  a  f  c  b  k   ... s   w   w   p   w   o   p   n   n   g
3 e  b  s  w  t  l  f  c  b  n   ... s   w   w   p   w   o   p   n   n   m
4 p  x  y  w  t  p  f  c  n  n   ... s   w   w   p   w   o   p   k   s   u
5 e  x  s  g  f  n  f  w  b  k   ... s   w   w   p   w   o   e   n   a   g
6 e  x  y  y  t  a  f  c  b  n   ... s   w   w   p   w   o   p   k   n   g

In [45]:
str(mr) #data 전부 factor임 (문자인 경우는 머신러닝 불가... 숫자로 바꿔주기)

'data.frame':	8124 obs. of  23 variables:
 $ V1 : Factor w/ 2 levels "e","p": 2 1 1 2 1 1 1 1 2 1 ...
 $ V2 : Factor w/ 6 levels "b","c","f","k",..: 6 6 1 6 6 6 1 1 6 1 ...
 $ V3 : Factor w/ 4 levels "f","g","s","y": 3 3 3 4 3 4 3 4 4 3 ...
 $ V4 : Factor w/ 10 levels "b","c","e","g",..: 5 10 9 9 4 10 9 9 9 10 ...
 $ V5 : Factor w/ 2 levels "f","t": 2 2 2 2 1 2 2 2 2 2 ...
 $ V6 : Factor w/ 9 levels "a","c","f","l",..: 7 1 4 7 6 1 1 4 7 1 ...
 $ V7 : Factor w/ 2 levels "a","f": 2 2 2 2 2 2 2 2 2 2 ...
 $ V8 : Factor w/ 2 levels "c","w": 1 1 1 1 2 1 1 1 1 1 ...
 $ V9 : Factor w/ 2 levels "b","n": 2 1 1 2 1 1 1 1 2 1 ...
 $ V10: Factor w/ 12 levels "b","e","g","h",..: 5 5 6 6 5 6 3 6 8 3 ...
 $ V11: Factor w/ 2 levels "e","t": 1 1 1 1 2 1 1 1 1 1 ...
 $ V12: Factor w/ 5 levels "?","b","c","e",..: 4 3 3 4 4 3 3 3 4 3 ...
 $ V13: Factor w/ 4 levels "f","k","s","y": 3 3 3 3 3 3 3 3 3 3 ...
 $ V14: Factor w/ 4 levels "f","k","s","y": 3 3 3 3 3 3 3 3 3 3 ...
 $ V15: Factor w/ 9 levels "b","c","e","g",..: 8 8 8 8 8 8 8 8 8 8 ...
 $ V16: Factor w/ 9 levels "b","c","e","g",..: 8 8 8 8 8 8 8 8 8 8 ...
 $ V17: Factor w/ 1 level "p": 1 1 1 1 1 1 1 1 1 1 ...
 $ V18: Factor w/ 4 levels "n","o","w","y": 3 3 3 3 3 3 3 3 3 3 ...
 $ V19: Factor w/ 3 levels "n","o","t": 2 2 2 2 2 2 2 2 2 2 ...
 $ V20: Factor w/ 5 levels "e","f","l","n",..: 5 5 5 5 1 5 5 5 5 5 ...
 $ V21: Factor w/ 9 levels "b","h","k","n",..: 3 4 4 3 4 3 3 4 3 3 ...
 $ V22: Factor w/ 6 levels "a","c","n","s",..: 4 3 3 4 1 3 3 4 5 4 ...
 $ V23: Factor w/ 7 levels "d","g","l","m",..: 6 2 4 6 2 2 4 4 2 4 ...

In [46]:
# 머신러닝을 위해 문자를 숫자로 변환 # $값이 붙으면 for문을 못쓴다. 
# as.numeric(mr$V23) = as.numeric(mr[,23])
# v2부터 v23까지 

for(i in 2:23){
    mr[,i] = as.numeric(mr[,i])
}
head(mr)

  V1 V2 V3 V4 V5 V6 V7 V8 V9 V10 ... V14 V15 V16 V17 V18 V19 V20 V21 V22 V23
1 p  6  3   5 2  7  2  1  2  5   ... 3   8   8   1   3   2   5   3   4   6
2 e  6  3  10 2  1  2  1  1  5   ... 3   8   8   1   3   2   5   4   3   2
3 e  1  3   9 2  4  2  1  1  6   ... 3   8   8   1   3   2   5   4   3   4
4 p  6  4   9 2  7  2  1  2  6   ... 3   8   8   1   3   2   5   3   4   6
5 e  6  3   4 1  6  2  2  1  5   ... 3   8   8   1   3   2   1   4   1   2
6 e  6  4  10 2  1  2  1  1  6   ... 3   8   8   1   3   2   5   3   3   2

In [47]:
# data가 정렬되어 있어야함 orderBy
# V1 기준으로 p와 e를 정렬 
library(doBy)
mr <- orderBy(~ V1, data=mr)
head(mr)
tail(mr)

  V1 V2 V3 V4 V5 V6 V7 V8 V9 V10 ... V14 V15 V16 V17 V18 V19 V20 V21 V22 V23
2 e  6  3  10 2  1  2  1  1  5   ... 3   8   8   1   3   2   5   4   3   2
3 e  1  3   9 2  4  2  1  1  6   ... 3   8   8   1   3   2   5   4   3   4
5 e  6  3   4 1  6  2  2  1  5   ... 3   8   8   1   3   2   1   4   1   2
6 e  6  4  10 2  1  2  1  1  6   ... 3   8   8   1   3   2   5   3   3   2
7 e  1  3   9 2  1  2  1  1  3   ... 3   8   8   1   3   2   5   3   3   4
8 e  1  4   9 2  4  2  1  1  6   ... 3   8   8   1   3   2   5   4   4   4

     V1 V2 V3 V4 V5 V6 V7 V8 V9 V10 ... V14 V15 V16 V17 V18 V19 V20 V21 V22 V23
8114 p  4  4  3  1  9  2  1  2   1  ... 2   7   7   1   3   2   1   8   5   1
8115 p  3  4  2  1  5  1  1  1  12  ... 4   2   2   1   3   1   4   8   2   1
8117 p  4  4  5  1  8  2  1  2   1  ... 2   7   8   1   3   2   1   8   5   3
8118 p  4  3  3  1  9  2  1  2   1  ... 3   7   8   1   3   2   1   8   5   1
8119 p  4  4  5  1  3  2  1  2   1  ... 3   7   8   1   3   2   1   8   5   1
8123 p  4  4  5  1  9  2  1  2   1  ... 2   8   8   1   3   2   1   8   5   3

In [48]:
# rownames 정리 (row 번지수 정렬해야함)
rownames(mr) <- c()
tail(mr)

     V1 V2 V3 V4 V5 V6 V7 V8 V9 V10 ... V14 V15 V16 V17 V18 V19 V20 V21 V22 V23
8119 p  4  4  3  1  9  2  1  2   1  ... 2   7   7   1   3   2   1   8   5   1
8120 p  3  4  2  1  5  1  1  1  12  ... 4   2   2   1   3   1   4   8   2   1
8121 p  4  4  5  1  8  2  1  2   1  ... 2   7   8   1   3   2   1   8   5   3
8122 p  4  3  3  1  9  2  1  2   1  ... 3   7   8   1   3   2   1   8   5   1
8123 p  4  4  5  1  3  2  1  2   1  ... 3   7   8   1   3   2   1   8   5   1
8124 p  4  4  5  1  9  2  1  2   1  ... 2   8   8   1   3   2   1   8   5   3

In [49]:
head(mr)
str(mr)

  V1 V2 V3 V4 V5 V6 V7 V8 V9 V10 ... V14 V15 V16 V17 V18 V19 V20 V21 V22 V23
1 e  6  3  10 2  1  2  1  1  5   ... 3   8   8   1   3   2   5   4   3   2
2 e  1  3   9 2  4  2  1  1  6   ... 3   8   8   1   3   2   5   4   3   4
3 e  6  3   4 1  6  2  2  1  5   ... 3   8   8   1   3   2   1   4   1   2
4 e  6  4  10 2  1  2  1  1  6   ... 3   8   8   1   3   2   5   3   3   2
5 e  1  3   9 2  1  2  1  1  3   ... 3   8   8   1   3   2   5   3   3   4
6 e  1  4   9 2  4  2  1  1  6   ... 3   8   8   1   3   2   5   4   4   4

'data.frame':	8124 obs. of  23 variables:
 $ V1 : Factor w/ 2 levels "e","p": 1 1 1 1 1 1 1 1 1 1 ...
 $ V2 : num  6 1 6 6 1 1 1 6 6 1 ...
 $ V3 : num  3 3 3 4 3 4 3 4 4 3 ...
 $ V4 : num  10 9 4 10 9 9 10 10 10 10 ...
 $ V5 : num  2 2 1 2 2 2 2 2 2 2 ...
 $ V6 : num  1 4 6 1 1 4 1 4 1 1 ...
 $ V7 : num  2 2 2 2 2 2 2 2 2 2 ...
 $ V8 : num  1 1 2 1 1 1 1 1 1 1 ...
 $ V9 : num  1 1 1 1 1 1 1 1 1 1 ...
 $ V10: num  5 6 5 6 3 6 3 3 6 11 ...
 $ V11: num  1 1 2 1 1 1 1 1 1 1 ...
 $ V12: num  3 3 4 3 3 3 3 3 3 3 ...
 $ V13: num  3 3 3 3 3 3 3 3 3 3 ...
 $ V14: num  3 3 3 3 3 3 3 3 3 3 ...
 $ V15: num  8 8 8 8 8 8 8 8 8 8 ...
 $ V16: num  8 8 8 8 8 8 8 8 8 8 ...
 $ V17: num  1 1 1 1 1 1 1 1 1 1 ...
 $ V18: num  3 3 3 3 3 3 3 3 3 3 ...
 $ V19: num  2 2 2 2 2 2 2 2 2 2 ...
 $ V20: num  5 5 1 5 5 5 5 5 5 5 ...
 $ V21: num  4 4 4 3 3 4 3 4 3 4 ...
 $ V22: num  3 3 1 3 3 4 4 3 4 4 ...
 $ V23: num  2 4 2 2 4 4 4 2 4 2 ...

In [59]:
# practice question
# sampling 
samp <- createDataPartition(mr$V1, p=0.7, list=F)

In [60]:
data.train <- mr[samp,]
data.test <- mr[-samp,]

In [61]:
# 학습 시키기 
library(randomForest)

randomForest 4.6-14
Type rfNews() to see new features/changes/bug fixes.

Attaching package: ‘randomForest’

The following object is masked from ‘package:ggplot2’:

    margin

In [65]:
rf <- randomForest(V1 ~ ., data=data.train, ntree=100)

In [63]:
# 문제와 정답 만들기 
x <- subset(data.test, select = -V1)
y <- data.test$V1

In [66]:
# 검증하기 
pred <- predict(rf, x)

In [67]:
# 예측력과 오분류표 
mean(pred ==y)
table(pred, y) # 무조건 맞춤 (오류 없음)

[1] 1

    y
pred    e    p
   e 1262    0
   p    0 1174

----
# 타이타닉 데이터를 활용한 탑승자의 생사 예측

In [69]:
train_df <- read.csv("../Data/Titanic_train.csv")
head(train_df)

  PassengerId Survived Pclass
1 1           0        3
2 2           1        1
3 3           1        3
4 4           1        1
5 5           0        3
6 6           0        3
  Name                                                Sex    Age SibSp Parch
1 Braund, Mr. Owen Harris                             male   22  1     0
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3 Heikkinen, Miss. Laina                              female 26  0     0
4 Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1     0
5 Allen, Mr. William Henry                            male   35  0     0
6 Moran, Mr. James                                    male   NA  0     0
  Ticket           Fare    Cabin Embarked
1 A/5 21171         7.2500       S
2 PC 17599         71.2833 C85   C
3 STON/O2. 3101282  7.9250       S
4 113803           53.1000 C123  S
5 373450            8.0500       S
6 330877            8.4583       Q

In [70]:
tail(train_df)

    PassengerId Survived Pclass Name                                     Sex
886 886         0        3      Rice, Mrs. William (Margaret Norton)     female
887 887         0        2      Montvila, Rev. Juozas                    male
888 888         1        1      Graham, Miss. Margaret Edith             female
889 889         0        3      Johnston, Miss. Catherine Helen "Carrie" female
890 890         1        1      Behr, Mr. Karl Howell                    male
891 891         0        3      Dooley, Mr. Patrick                      male
    Age SibSp Parch Ticket     Fare   Cabin Embarked
886 39  0     5     382652     29.125       Q
887 27  0     0     211536     13.000       S
888 19  0     0     112053     30.000 B42   S
889 NA  1     2     W./C. 6607 23.450       S
890 26  0     0     111369     30.000 C148  C
891 32  0     0     370376      7.750       Q

In [71]:
str(train_df) # age에 na, embarked에 "" -> 원래 항구 3개

'data.frame':	891 obs. of  12 variables:
 $ PassengerId: int  1 2 3 4 5 6 7 8 9 10 ...
 $ Survived   : int  0 1 1 1 0 0 0 0 1 1 ...
 $ Pclass     : int  3 1 3 1 3 3 1 3 3 2 ...
 $ Name       : Factor w/ 891 levels "Abbing, Mr. Anthony",..: 109 191 354 273 16 555 516 625 413 577 ...
 $ Sex        : Factor w/ 2 levels "female","male": 2 1 1 1 2 2 2 2 1 1 ...
 $ Age        : num  22 38 26 35 35 NA 54 2 27 14 ...
 $ SibSp      : int  1 1 0 1 0 0 0 3 0 1 ...
 $ Parch      : int  0 0 0 0 0 0 0 1 2 0 ...
 $ Ticket     : Factor w/ 681 levels "110152","110413",..: 524 597 670 50 473 276 86 396 345 133 ...
 $ Fare       : num  7.25 71.28 7.92 53.1 8.05 ...
 $ Cabin      : Factor w/ 148 levels "","A10","A14",..: 1 83 1 57 1 1 131 1 1 1 ...
 $ Embarked   : Factor w/ 4 levels "","C","Q","S": 4 2 4 4 4 3 4 4 4 2 ...

### 컬럼 내용 확인
- Survived : 생존 여부 (0:사망, 1:생존)
- Pclass : 티켓 등급 (1:1등급, 2:2등급, 3:3등급)
- SibSp : sibling 함께 탑승한 형제, 자매, 배우자의 수 
- Parch : parent and childrend 함께 탑승한 부모, 자식의 수 
- Fare : 운임 
- Cabin :  객실 번호
- Embarked : 탑승항구(C:Chersbourg, Q:Queenstown, S=Southampton)

In [72]:
# machine learning 할 때에 T <- F[대략 3개 컬럼 사용]
# Target col: survived 
# Feature col: target col을 위해 사용할 col.

In [77]:
# 각 컬럼별 na 확인 

for(i in 1:ncol(train_df)){
    cat(colnames(train_df)[i], "=", sum(is.na(train_df[,i])), "\n")
}

PassengerId = 0
Survived = 0
Pclass = 0
Name = 0
Sex = 0
Age = 177
SibSp = 0
Parch = 0
Ticket = 0
Fare = 0
Cabin = 0
Embarked = 0

In [80]:
177/nrow(train_df) # 20%

[1] 0.1986532

In [84]:
# train_df$Age가 Na인 데이터셋만 따로 구성한다. 
head(subset(train_df, is.na(train_df$Age)))

   PassengerId Survived Pclass Name                          Sex    Age SibSp
6   6          0        3      Moran, Mr. James              male   NA  0
18 18          1        2      Williams, Mr. Charles Eugene  male   NA  0
20 20          1        3      Masselmani, Mrs. Fatima       female NA  0
27 27          0        3      Emir, Mr. Farred Chehab       male   NA  0
29 29          1        3      O'Dwyer, Miss. Ellen "Nellie" female NA  0
30 30          0        3      Todoroff, Mr. Lalio           male   NA  0
   Parch Ticket Fare    Cabin Embarked
6  0     330877  8.4583       Q
18 0     244373 13.0000       S
20 0     2649    7.2250       C
27 0     2631    7.2250       C
29 0     330959  7.8792       Q
30 0     349216  7.8958       S

In [89]:
# train_df$Age가 Na가 아닌 데이터셋만 따로 구성한다. (! 반대)
head(subset(train_df, !is.na(train_df$Age)))

  PassengerId Survived Pclass
1 1           0        3
2 2           1        1
3 3           1        3
4 4           1        1
5 5           0        3
7 7           0        1
  Name                                                Sex    Age SibSp Parch
1 Braund, Mr. Owen Harris                             male   22  1     0
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3 Heikkinen, Miss. Laina                              female 26  0     0
4 Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1     0
5 Allen, Mr. William Henry                            male   35  0     0
7 McCarthy, Mr. Timothy J                             male   54  0     0
  Ticket           Fare    Cabin Embarked
1 A/5 21171         7.2500       S
2 PC 17599         71.2833 C85   C
3 STON/O2. 3101282  7.9250       S
4 113803           53.1000 C123  S
5 373450            8.0500       S
7 17463            51.8625 E46   S

In [91]:
tail(train_df) #head와 tail을 보면 생존여부와 성별, 등급 간의 연관성이 보임. 여성들이 주로 살았고, 등급이 높은 사람들은 남성일지라도 생존한 경우.

    PassengerId Survived Pclass Name                                     Sex
886 886         0        3      Rice, Mrs. William (Margaret Norton)     female
887 887         0        2      Montvila, Rev. Juozas                    male
888 888         1        1      Graham, Miss. Margaret Edith             female
889 889         0        3      Johnston, Miss. Catherine Helen "Carrie" female
890 890         1        1      Behr, Mr. Karl Howell                    male
891 891         0        3      Dooley, Mr. Patrick                      male
    Age SibSp Parch Ticket     Fare   Cabin Embarked
886 39  0     5     382652     29.125       Q
887 27  0     0     211536     13.000       S
888 19  0     0     112053     30.000 B42   S
889 NA  1     2     W./C. 6607 23.450       S
890 26  0     0     111369     30.000 C148  C
891 32  0     0     370376      7.750       Q

In [94]:
# survived 기준으로 dataset 정렬 
train_df <- orderBy(~ Survived, data=train_df)
head(train_df)

   PassengerId Survived Pclass Name                           Sex  Age SibSp
1   1          0        3      Braund, Mr. Owen Harris        male 22  1
5   5          0        3      Allen, Mr. William Henry       male 35  0
6   6          0        3      Moran, Mr. James               male NA  0
7   7          0        1      McCarthy, Mr. Timothy J        male 54  0
8   8          0        3      Palsson, Master. Gosta Leonard male  2  3
13 13          0        3      Saundercock, Mr. William Henry male 20  0
   Parch Ticket    Fare    Cabin Embarked
1  0     A/5 21171  7.2500       S
5  0     373450     8.0500       S
6  0     330877     8.4583       Q
7  0     17463     51.8625 E46   S
8  1     349909    21.0750       S
13 0     A/5. 2151  8.0500       S

In [96]:
#rownames 정렬 
rownames(train_df) <- c()
tail(train_df)

    PassengerId Survived Pclass Name
886 875         1        2      Abelson, Mrs. Samuel (Hannah Wizosky)
887 876         1        3      Najib, Miss. Adele Kiamie "Jane"
888 880         1        1      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
889 881         1        2      Shelley, Mrs. William (Imanita Parrish Hall)
890 888         1        1      Graham, Miss. Margaret Edith
891 890         1        1      Behr, Mr. Karl Howell
    Sex    Age SibSp Parch Ticket    Fare    Cabin Embarked
886 female 28  1     0     P/PP 3381 24.0000       C
887 female 15  0     0     2667       7.2250       C
888 female 56  0     1     11767     83.1583 C50   C
889 female 25  0     1     230433    26.0000       S
890 female 19  0     0     112053    30.0000 B42   S
891 male   26  0     0     111369    30.0000 C148  C

In [105]:
# Survived 컬럼이 target column으로 적합한지 확인 
# 사망자수 
nrow(subset(train_df, Survived == 0))
# 생존자수
nrow(subset(train_df, Survived == 1))

nrow(subset(train_df, Survived == 1)) / nrow(train_df) # 생존자수는 약 40%... (비율은 마지노선인 6:4가 안된다)

[1] 549

[1] 342

[1] 0.3838384

In [ ]:
# 5:5로 맞춰주기 위해 사망자수(549명)을 생존자수(342명)과 맞게 342명으로 줄이기 sample()